body {
  background-color: #d4d0d0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
  padding: none;
}

.images {
  flex-wrap: wrap;
}

.row1 {
  display: flex;
  margin: auto;
  padding: 15px;
  justify-content: center;
}
.row2 {
  display: flex;
  padding: 15px;
  margin: auto;
  justify-content: center;
}

.jacketcolumn {
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
}

.pantscolumn {
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
}

header {
  text-align: center;
  background-color: #d10000;
  color: rgb(0, 0, 0);
  height: 100px;
  padding: 20px;
}

button {
  background-color: rgb(205, 255, 198);
  color: black;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.productrow {
  padding: 20px;
  margin: 20px auto;
}

.prod {
  padding: 20px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 600px;
  text-align: left;
}

footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 20px;
}
